@charset "utf-8";
header
{
    background-image: url( '../image/header_background_image.jpg' );
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary
{
    background-image: none;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl
{
  background-image: none;
}
